/* PC */
@media (min-width: 1024px) {    
}

/* Table */
@media (min-width: 768px) and (max-width:1023px) {
}

/* Mobile */
@media (max-width: 740px) {
    header {
        overflow: hidden;
    }
    .navbar > li {
        display: block;
    }
    .navbar > .navbar-more {
        display: none;
    }
    
    .navbar > .navbar-merch {
        display: inline-block;
    }

    .content .member-item {
        float: unset;
        width: 100%;
        text-align: center;
    }
    .content .member-img {
        width: 60%;
        height: auto;
        margin-bottom: 16px;
    }
    .ticket-list {
        display: block;
    }
    .contact-content .contact-detail {
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }
    .contact-content .contact-form {
        width: 100%;
        float: unset;
        text-align: right;
    }
}