/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  height: 46.5px;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  z-index: 1000;
}

.navbar-wrapper .search-btn {
  float: right;
  line-height: 46.5px;
  padding: 0 19px;
}

.navbar-wrapper .search-btn:hover {
  background-color: #f44336 !important;
  cursor: pointer;
}

.navbar {
  display: inline-block;
}

.navbar ul {
}

.navbar > li {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

.navbar > li > a {
  display: inline-block;
  text-decoration: none;
  padding: 0 24px;
  line-height: 46.5px;
  color: #fff;
}

.navbar > li:hover > a {
  color: #000 !important;
  background-color: #ccc !important;
}

.icon {
  position: absolute;
  top: 20%;
}

.navbar > li:hover .sub-nav {
  display: block;
}

.navbar .sub-nav {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.navbar .sub-nav > li {
  display: block;
  text-transform: capitalize;
  padding: 8px 16px;
  min-width: 160px;
}

.navbar .sub-nav > li > a {
  color: #000;
  text-decoration: none !important;
}

.navbar .sub-nav li:hover {
  background-color: #ccc !important;
  cursor: pointer;
}

.slider {
  margin-top: 46.5px;
  padding-top: 50%;
  background: url("../img/slide1.jpg") no-repeat top / cover;
  position: relative;
}

.slider .message {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 32px;
}

.slider .message .message-heading {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}

.slider .message .message-description {
  margin: 15px 0;
}

.content {
  margin: auto;
}

.content .content-section {
  width: 800px;
  text-align: center;
  padding: 64px 16px;
  margin: 0 auto;
}

.content .content-section .section-heading{
  letter-spacing: 4px;
  font-family: "Segoe UI",Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin: 10px 0;
}

.content .content-section .section-sub-heading{
  opacity: 0.60;
  margin: 15px 0;
  font-style: italic;
}

.content .about {
  margin: 15px 0;
  text-align: justify;
}

.content .member-list {
  padding: 32px 0;
}

.content .member-item {
  float: left;
  text-align: center;
}

.content .member-list::after {
  content: "";
  clear: both;
  display: table;
}

.content .member-name {
  text-transform: capitalize;
  margin: 12px 0;
}

.content .member-img {
  width: 60%;
  margin-bottom: 16px;
}

.content .tour-date {
  background-color: #000;
}

.ticket-date-range {
  background-color: #fff;
  text-align: left;
}

.ticket-date-range li{
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style-type: none;
}

.ticket-date-range li .sold-out{
  padding: 2px 8px;
  margin-left: 16px;
  color: #fff;
  background-color: #f44336;
}

.ticket-date-range li .quantity{
  float: right;
  padding: 0 8px;
  margin-right: 16px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.ticket-list {
  display: flex;
  padding: 32px 8px;
  margin: 0 -16px;
}

.ticket-item {
  padding: 0 8px;
  margin-bottom: 16px;
}

.ticket-item .ticket-img {
  width: 100%;
  display: block;
}

.ticket-item .ticket-img:hover {
  opacity: 0.6;
}

.ticket-item .ticket-body {
  background-color: #fff;
  padding: 0.15px 16px;
  text-align: left;
}

.ticket-body .ticket-name {
  font-weight: bolder;
  margin: 15px 0;
}

.ticket-body .ticket-date {
  margin: 15px 0;
  opacity: 0.6;
}

.ticket-body .ticket-content {
  margin: 15px 0;
}

.ticket-body .buy-ticket-btn {
  margin-bottom: 16px;
  padding: 8px 16px;
  color: #fff;
  text-transform: capitalize;
  background-color: #000;
  border: none;
}

.ticket-body .buy-ticket-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.contact-content {
  padding: 32px 0;
}

#contact::after {
  content: "";
  display: block;
  clear: both;
}

.contact-content .contact-detail {
  display: inline-block;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.contact-content .contact-form {
  width: 50%;
  float: right;
  text-align: right;
}

.contact-content .contact-form input {
  padding: 8px 16px;
  border: 1px solid #ccc;
}

.contact-content .contact-form input:nth-child(1) {
  width: 48%;
  float: left;
}

.contact-content .contact-form input:nth-child(2) {
  width: 48%;
}

.contact-content .contact-form input:nth-child(3) {
  width: 100%;
  margin-top: 8px;
}

.contact-content .contact-form .send-btn {
  padding: 8px 16px;
  margin: 16px 0;
  color: #fff;
  background-color: #000;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
}

.contact-content .contact-form .send-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.map img {
  width: 100%;
  filter: grayscale(50%);
}

.footer {
  padding: 64px 16px;
  text-align: center;
  background-color: #f1f1f1;
  opacity: 0.6;
}

.footer i {
  font-size: 24px;
}

.footer i:hover {
  opacity: 0.60;
  cursor: pointer;
}

.footer a {
  color: inherit;
}

.footer .copyright {
  margin: 15px 0;
}

.white-text {
  color: #fff;
}

.modal {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 100px;
  display: none;
}

.modal.open {
  display: block;
}

.modal-container {
  margin: 0 10%;
  animation: modalFadeIn ease-in-out 0.4s;
}

.modal-header {
  position: relative;
  padding: 32px 16px;
  text-align: center;
  color: #fff;
  background-color: #009688;
}

.modal-header-icon {
  margin-right: 16px;
}

.modal-header > h2 {
  display: inline-block;
  margin: 10px 0;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 4px;
}

.modal-header .modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  font-size: 24px;
}

.modal-header .modal-close-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  padding: 0.1em 16px;
}

.modal-content input, .modal-content label {
  display: block;
  width: fit-content;
}

.modal-content label {
  margin: 15px 0;
}

.modal-content input {
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

.modal-content button {
  line-height: 22.5px;
  font-size: 15px;
}

.modal-content .pay-btn {
  padding: 16px;
  color: #fff;
  background-color: #009688;
  text-transform: uppercase;
  width: 100%;
  margin: 16px 0;
  border: none;
}

.modal-content .close-btn {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background-color: #f44336;
  margin: 16px 0;
  border: none;
  line-height: 22.5px;
  font-size: 15px;
}

.modal-content .pay-btn:hover, .modal-content .close-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.modal-content .help-link {
  float: right;
  margin: 15px 0;
}

.modal-content .help-link a {
  color: #2196F3;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}